{
  "swagger": "2.0",
  "info": {
    "description": "วิธีการใช้งาน IoT Platform API เพื่อเรียกใช้ข้อมูลต่าง ๆ",
    "version": "1.0.0",
    "title": "IoT Platform Data Service"
  },
  "host": "bigdata.mwa.co.th/iot-api/apis",
  "basePath": "/",
  "tags": [
    {
      "name": "Project",
      "description": "IoT Project API"
    },
    {
      "name": "Station",
      "description": "IoT Station API"
    },
    {
      "name": "History",
      "description": "IoT History API"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/project": {
      "get": {
        "tags": ["Project"],
        "summary": "เรียกข้อมูล IoT Project ตามสิทธิ์ของผู้เรียก",
        "description": "เรียกข้อมูล IoT Project ตามสิทธิ์ของผู้เรียก",
        "operationId": "uploadFile",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/project"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/station/project/{projectId}": {
      "get": {
        "tags": ["Station"],
        "summary": "เรียกข้อมูล IoT Station ใน Project โดยใช้ ProjectId",
        "description": "เรียกข้อมูล IoT Station ใน Project โดยใช้ ProjectId",
        "operationId": "getStationByProjectId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of Project to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/station"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/device/station/{stationId}": {
      "get": {
        "tags": ["Device"],
        "summary": "เรียกข้อมูล IoT Device ใน Station โดยใช้ StationId",
        "description": "เรียกข้อมูล IoT Device ใน Station โดยใช้ StationId",
        "operationId": "getDeviceByStationId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "description": "ID of Station to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/device"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/device/{deviceId}/history": {
      "get": {
        "tags": ["History"],
        "summary": "เรียกข้อมูล IoT Parameter History ของ Device โดยใช้ DeviceId",
        "description": "เรียกข้อมูล IoT Parameter History ของ Device โดยใช้ DeviceId",
        "operationId": "getHistoryByDeviceId",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "ID of Device to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/history"
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "session_token",
      "in": "header"
    }
  },
  "definitions": {
    "project": {
      "type": "array",
      "items": {
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          }
        }
      }
    },
    "station": {
      "type": "array",
      "items": {
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "location": {
            "type": "array"
          }
        }
      }
    },
    "device": {
      "type": "array",
      "items": {
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "integer"
              },
              "y": { "type": "integer" }
            }
          }
        }
      }
    },
    "history": {
      "type": "array",
      "items": {
        "properties": {
          "device": {
            "type": "object"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "properties": {
              "param_1": {
                "type": "integer"
              },
              "param_2": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  }
}
